{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<body class="bg-body-tertiary pt-0" style="height: 100%; overflow: hidden;">

    <div class="d-flex flex-row">
        <div class="d-flex flex-column welcome-side align-items-center justify-content-center">
            <div class="d-flex align-items-center gap-3 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-card-checklist" viewBox="0 0 16 16">
                    <path
                        d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                    <path
                        d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0" />
                </svg>
                <h1 class="mb-0">To Do List</h1>
            </div>
            <p>A Personal To-Do List to keep you up to date</p>

        </div>
        <div class="d-flex flex-column justify-content-center flex-grow-1">

            <div class="text-center fw-bold fs-1"> Log In </div>
            {{render_form(form, novalidate=True, render_kw={"style": "margin-left: 25%; margin-top: 3%;"}) }}
            <span class="my-3" style="margin: 37.5%;">
                Don't have an account?
                <a href="{{ url_for('register') }}" style="color: #00308F;">Register</a>
            </span>
            <div class="my-1" style="margin: 33.7%;">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

</body>